.navibar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 10px;
  height: 90px;

}
.menu_bar{
  display: flex;
  width: 500px;
  justify-content: space-around;
  align-items: center;
}

.menu_bar > p {
  font-size: x-large;
}

.menu_text {
  font-size: 20px;
  font-weight: 500;
}

#menu_login_button{
  background-color: rgb(18,125,113);
  border-radius: 50px;
  height: 30px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.material-symbols-outlined {
  font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
}

h1 {
  left: 100px;
  top: 100px;
  position: absolute;
}

.content_container {
  /*padding-left: 100px;*/
  /*padding-right: 100px;*/
  background-color: rgb(189,242,219);
  height: 37%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_container {
  display: flex;
  justify-content: center;
}

.login_img {
  margin-right: 10px;
}

.login_img > img{
  width: 250px;
  height: 300px;
  border-radius: 10px;
}

.login {
  background-color: rgb(222,243,233);
  border-radius: 10px;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}

.login_input{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
}

.login_input > input {
  width: 270px;
  height: 40px;
  padding-left: 30px;
  border: none;
}

.login_submit > button {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.small_text{
  font-size: small;
}

.login_error > .small_text {
  padding-left: 65px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo:hover {
  color: gray;
}

.logo-img {
  top: 20px !important;
}

.login_button {
  background-color: rgb(14,114,114);
}

.login_button:hover {
  background-color: #06caae;
}

.img_box {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}