<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>인증완료</title>
</head>
<body>
<h2>본인인증이 완료되었습니다.</h2>
<button id="homeButton">홈으로</button>

<script>
  var homeButton = document.getElementById('homeButton');

  homeButton.addEventListener('click', function () {
    // 부모 창의 URL을 변경하고 팝업 창을 닫습니다.
    window.opener.postMessage("인증성공", "*");
    window.close();
  });
</script>
</body>
</html>
