<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
</head>

<body>
<div>
  <h1>Welcome, <span th:text="${customer.name}"></span></h1>
  <a th:href="@{/logout}">Logout</a>
  <br>
  <a th:href="@{/authorize}">토큰 발급요청</a>
  <br>
  <a th:href="@{/show-send-form}">본인인증</a>
  <br>
  <a href="#" id="authenticateLink">본인인증 (모달)</a>
  <br>
  <a th:href="@{/profile}">로그인 id 확인</a>
  <br>
</div>
</body>
<script>
  document.getElementById('authenticateLink').addEventListener('click', function(e) {
    e.preventDefault();
    var width = 700;
    var height = 700;
    var left = (screen.width / 2) - (width / 2);
    var top = (screen.height / 2) - (height / 2);
    var windowFeatures = `width=${width},height=${height},top=${top},left=${left},resizable=yes`;
    window.open('/show-send-form', 'Authenticate', windowFeatures);
  });

  window.addEventListener("message", function(event) {
    if (event.data === "인증성공") {
      // 필요한 화면 업데이트 로직
      location.reload();  // 예: 페이지 새로고침
      alert("인증이 완료되었습니다.");
      console.log("인증이 완료되었습니다.");
    }
  }, false);
</script>
</html>
